/caffeine
/Code
baloofileinformationrc
/Code - OSS
/create-next-app-nodejs
/dconf
dolphinrc
/discord
/Electron
/fontforge
/gtk-3.0
/htop
/kde.org
/nemo
/neofetch
/nextjs-nodejs
/nomacs
/pulse
/qbittorrent
QtProject.conf
/screengrab
/session
/systemd
trashrc
/yay
/zed
/background
/wallpaper
/.git
